/* Estilos de cursos y equipo de tutores */
.curso, .tutor {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .curso h3, .tutor h3 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  