.contacto-section {
    background-color: #f2f2f2;
    padding: 50px 0;
  }
  
  .contacto-title {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #084b7a;
    margin-bottom: 20px;
  }
  
  .contacto-description {
    text-align: center;
    color: #084b7a;
    margin-bottom: 40px;
  }
  
  .social-buttons {
    display: flex;
    justify-content: center;
  }
  
  .social-buttons a {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #084b7a;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .social-buttons a:hover {
    background-color: #073956;
  }
  