body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  
  
  /* Estilos para los títulos */
h2 {
    font-size: 24px;
    color: #333333;
    margin-top: 0;
  }
  
  h3 {
    font-size: 20px;
    color: #333333;
  }
  
  /* Estilos para los párrafos */
  p {
    font-size: 16px;
    color: #666666;
    line-height: 1.5;
  }
  
  /* Estilos para los botones */
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0066CC;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #004C99;
  }

  .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0066CC;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #004499;
  }
  
  .cta-button:active {
    background-color: #003366;
  }
  