/* Media queries para dispositivos móviles */
@media (max-width: 767px) {
/* Estilos de secciones */
section {
  padding: 20px 0;
}

/* ... */

/* Estilos de pie de página */
footer p {
  font-size: 12px;
}
}

    

     

  
  
  /* Estilos para dispositivos con un ancho máximo de 480px */
  @media (max-width: 480px) {

      



      .cta-button {
        padding: 6px 12px;
        font-size: 14px;
      }
    


    /* Estilos de secciones */
    section {
      padding: 10px 0;
    }
  



  
    /* Estilos de pie de página */
    footer p {
      font-size: 10px;
    }
  
  }