/* Estilos de secciones */
section {
    padding: 40px 0;
  }
  
  section h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
  }

  #recursos-comunidad {
    text-align: center;
    margin-bottom: 40px;
  }
  
  #recursos-comunidad h2 {
    font-size: 32px;
    color: #0066CC;
    margin-bottom: 20px;
  }
  
  .recurso {
    display: inline-block;
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .recurso:hover {
    transform: translateY(-5px);
  }
  
  .recurso h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .recurso p {
    font-size: 16px;
    color: #777;
    margin-bottom: 20px;
  }
  
  .recurso a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0066CC;
    color: #FFFFFF;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s
}